#header{
    background-image: url("../assets/backgrounds/h_img.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#header p{
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
}
#headerContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
}
#logo{
    margin-bottom: 1rem;
}
#mouseIcon{
    margin: auto auto 5vh auto;
}
/* Second Section */
#secondSection{
    height: 100vh;
    text-align: center;
}
.second{
    display: flex;
    justify-content: center;
    align-items: center;
}
#aboutUs{
    height: 50%;
    width: 100%;
}
#services{
    background-image: url("../assets/backgrounds/s_image.jpg");
    background-size: cover;
    background-position: center;
    height: 50%;
    width: 100%;
    position: absolute;
    left: 0px;
    color: white;
}

/* Media Queries */
@media screen and (min-width:720px){
    #header p{
        font-size: 3rem;
    }
}
